{% extends 'base.html' %}

{% block page-content-title %}
作业管理
{% endblock %}

{% block page-nav-tab %}
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">作业历史管理</li>
</ol>
{% endblock %}


{% block page-content %}
<div class="panel">
    <div class="panel-body panel-title" style="background-color: #e8ebf0">
        <div class="controls pull-right">

		</div>
    </div>
</div>

    <form class="form-horizontal" method="post" action="{% url 'search_script' %}" enctype="multipart/form-data">{% csrf_token %}
        <fieldset>
    		<legend style="font-size:12px"><span class="glyphicon glyphicon-search"></span>查询条件</legend>
    		<div class="form-group" id="search-box">
    			<label>作业名称：</label>
    			<input type="text" style="width:150px;" id='script_manage_name' name="script_manage_name">
    			<label>创建人：</label>
      			<input type="text" style="width:150px;" id='script_manage_create_user' name="script_manage_create_user">
      			<label>创建时间：</label>
    			<input id="script_manage_created_from" name="script_manage_created_from" type="text" style="width:150px;" onkeydown="return false;" onClick="WdatePicker()" placeholder="开始时间">
    			<input id="script_manage_created_to" name="script_manage_created_to" type="text" style="width:150px;" onkeydown="return false;" onClick="WdatePicker()" placeholder="结束时间">
                <button class="btn btn-info" type="submit">
                    <i class="glyphicon glyphicon-search"></i>
                    查询
                </button>
    		</div>
		</fieldset>
    </form>
    <hr>
    <div class="panel panel-default">
        <div class="panel-body">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-bordered table-hover table-striped">
                        <tr>
                            <th>作业名称</th>
                            <th>创建人</th>
                            <th>作业类型</th>
                            <th>当前状态</th>
                            <th>开始时间</th>
                            <th>结束时间</th>
                            <th>总耗时</th>
                            <th>执行人</th>
                            <th>操作</th>
                        </tr>

                        {% for h in history_list %}
                        <tr>
                            <td>{{ h.template.name }}</td>
                            <td>{{ h.template.create_user }}</td>
                            <td>{{ h.template.template_type }}</td>
                            <td>{{ h.status }}</td>
                            <td>{{ h.start_time|date:"Y-m-d H:i:s"}}</td>
                            <td>{{ h.end_time }}</td>
                            <td>{{ h.cost_time }}</td>
                            <td>{{ h.run_user }}</td>
                            <td id="delete-template"><a style="color: blue"  onclick="location.href='{% url 'show_history' h.id h.template.id %}'">查看执行详情</a></td>
                        </tr>
                    {% endfor %}

                    </table>

                    {% if history_list.has_other_pages %}
                      <ul class="pagination">
                        {% if history_list.has_previous %}
                          <li><a href="?page={{ history_list.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                          <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                        {% for i in history_list.paginator.page_range %}
                          {% if history_list.number == i %}
                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                          {% else %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                          {% endif %}
                        {% endfor %}
                        {% if history_list.has_next %}
                          <li><a href="?page={{ history_list.next_page_number }}">&raquo;</a></li>
                        {% else %}
                          <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                      </ul>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        </div>
    </div>


{% endblock %}

{% block bottom-js %}

    <script type="text/javascript">



        var script_home_checked_all = ".script_checked_all"
        var script_home_checked_single = ".script_checked_single"

        check_all(script_home_checked_all,script_home_checked_single,$("#script_btn_power"))


        function time_compare(from,to){
            var start_time = from.split('-');
            var end_time = to.split('-');
            var start = new Date(start_time[0], start_time[1] - 1, start_time[2]);
            var end = new Date(end_time[0], end_time[1] - 1, end_time[2]);

            if (start > end) {
                jNotify("开始时间不能大于结束时间！","aaa");
                return false;
            }
            return true;
        }

        function SearchScript() {
            var name = $("#script_manage_name").val()
            var create_user = $("#script_manage_create_user").val()
            var create_from = $("#script_manage_created_from").val()
            var create_to = $("#script_manage_created_to").val()

            if (create_from && create_to){
                time_compare(create_from,create_to)
            }
            var data_list = {}
            data_list["search_name"] = name
            data_list["search_user"] = create_user
            data_list["search_from"] = create_from
            data_list["search_to"] = create_to
            data_list["csrfmiddlewaretoken"] = $("input[name='csrfmiddlewaretoken']").val()
            $.post("{% url 'search_script' %}",data_list,function(){
                //console.log(callback)
            })
        }



    </script>

{% endblock %}