{% extends 'base.html' %}


{% block page-content-title %}
作业管理
{% endblock %}

{% block page-nav-tab %}
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">作业脚本管理</li>
</ol>
{% endblock %}


{% block page-content %}
<div class="panel">
    <div class="panel-body panel-title" style="background-color: #e8ebf0">
        <div class="controls pull-right">
			<button class="btn btn-primary" onclick="location.href='{% url 'script_add' %}'" type="button">
        <i class="icon-plus icon-white"></i>
        新建脚本实例
      </button>
      <button disabled="" class="btn btn-primary select-power" id="job_btn_power" type="button" data-target="#job_select_power" data-toggle="modal" data-auth-type="template" data-msg="jobcontent">
        <i class="icon-random icon-white"></i>
        授权
      </button>
			<button class="btn btn-info" onclick="job_manage_filter_v2();" type="button">
        <i class="icon-search icon-white"></i>
        查询
      </button>
			<button class="btn btn-warning reset" type="button">
        <i class="icon-repeat icon-white"></i>
        重置
      </button>
		</div>
    </div>
</div>
    <br>
    <hr>
    <div class="panel panel-default">
        <div class="panel-body">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-bordered table-hover table-striped">
                        <tr>
                            <th>#</th>
                            <th>脚本名称</th>
                            <th>脚本描述</th>
                            <th>脚本类型</th>
                            <th>创建人</th>
                            <th>创建日期</th>
                            <th>最后修改人</th>
                            <th>修改日期</th>
                            <th>操作</th>
                        </tr>

                        {% for s in script_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td id="script-name"><a style="color: blue" href="{% url 'script_edit' s.id %}">{{ s.scriptname }}</a></td>
                            <td>{{ s.description }}</td>
                            <td>{{ s.script_type }}</td>
                            <td>{{ s.create_user }}</td>
                            <td>{{ s.create_date }}</td>
                            <td>{{ s.update_user }}</td>
                            <td>{{ s.update_date }}</td>
                            <td id="delete-script"><a style="color: blue" onclick="DeleteScript('{{ s.scriptname }}')">删除</a></td>
                        </tr>
                    {% endfor %}

                    </table>

                    {% if script_list.has_other_pages %}
                      <ul class="pagination">
                        {% if script_list.has_previous %}
                          <li><a href="?page={{ script_list.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                          <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                        {% for i in script_list.paginator.page_range %}
                          {% if script_list.number == i %}
                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                          {% else %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                          {% endif %}
                        {% endfor %}
                        {% if script_list.has_next %}
                          <li><a href="?page={{ script_list.next_page_number }}">&raquo;</a></li>
                        {% else %}
                          <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                      </ul>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        </div>
    </div>




{% endblock %}

{% block bottom-js %}

    <script type="text/javascript">

        function DeleteScript(scriptname) {
            if (confirm("是否真的要删除指定的内容？") == true) {
                var datalist = {}
                datalist["scriptname"] = scriptname
                datalist["csrfmiddlewaretoken"] = $("input[name='csrfmiddlewaretoken']").val()
                $.post("{% url 'script_delete' %}",datalist,function(callback){
                    console.log(callback)
                    location.reload();
                })

            }
        }

        function EditScript(scriptname) {
            var datalist = {}
            datalist["scriptname"] = scriptname
            datalist["csrfmiddlewaretoken"] = $("input[name='csrfmiddlewaretoken']").val()
            $.post("",datalist,function(callback){
                console.log(callback)
            })
        }

    </script>

{% endblock %}