{% extends 'base.html' %}


{% block page-content-title %}
作业管理
{% endblock %}

{% block page-nav-tab %}
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">作业实例管理</li>
</ol>
{% endblock %}


{% block page-content %}
<div class="row-fluid edit-md-wrap">
<form class="form-horizontal" action="{% url 'submit_Job' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="panel-heading">
            <h3 class="panel-title">新建实例</h3>

    <div class="col-md-9">
        <div class="panel panel-default panel-right">
            <div class="panel-body">

                <div class="form-group">
                            <label class="col-sm-2 control-label">实例名称：</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="template_name" name="template_name" required="required" value="{{ template.name }}">
                                <input type="text" class="form-control hidden" id="template_id" name="template_id" required="required" value="{{ template.id }}">
                            </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">作业实例类型：</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="template_type">

                          {% for id,value in template_types_choice %}
                          <option {% if value == template_type %}selected{% endif %}>{{ value }}</option>
                          {% endfor %}

                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">所属业务：</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="business_unit">

                            {% for k,v in b_unit %}
                          <option {% if k == business_unit %}selected{% endif %}>{{ k }}</option>
                          {% endfor %}

                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">备注：</label>
                    <div class="col-sm-10">
                        <textarea id="template_comments" name="template_comments" rows="4" class="form-control" placeholder="请输入...">{{ template.comments }}</textarea>
                    </div>
		        </div>

                <div class="form-group" style="margin-left: 195px;">
                    <span>提示：支持上下拖动排序</span>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <table class="table table-hover table-striped table-bordered edit_md_table table-link" id="edit_md_table">
                             <thead>
                                <tr name="template_step">
                                    <th class="text-center"><input value="0" class="jobview-checked-all-{{ template.id }}" type="checkbox"></th>
                                    <th class="run_step">执行步骤</th>
                                    <th width=200px clas="step_name">步骤名</th>
                                    <th>步骤类型</th>
                                    <th width=200px>操作</th>
                                </tr>
                             </thead>
                             <tbody template_id="{{ template.id }}">
                                {% for templateStep in template_steps %}
                                    <tr {% if templateStep.is_checked %}class='checknow'{% endif %}>
                                        <td class="text-center"><input value="{{templateStep.id}}" class="jobview-checked-it-{{ template.id }}" type="checkbox" {% if templateStep.is_checked %}checked{% endif %}></td>
                                        <td>第{{templateStep.order|add:"1"}}步</td>
                                    {% if templateStep.step_type == "execute_script" %}
                                        <td><a href="{% url 'add_template_script' templateStep.id %}">{{templateStep.name}}</a></td>
                                        {% elif templateStep.step_type == "text_step" %}
                                        <td><a href="{% url 'add_template_text' templateStep.id %}">{{templateStep.name}}</a></td>
                                    {% endif %}
                                        <td>{{templateStep.get_step_type_display}}</td>
                                        <td><div class='btn-group'><a class='dropdown-toggle' data-toggle='dropdown' href='#'>增加步骤</a><ul class='dropdown-menu add-step-list'><li value='1'><a>执行脚本</a></li><li value='2'><a>分发文件</a></li><li value='3'><a>拉取文件</a></li><li value='4'><a>文本步骤</a></li></ul></div>&nbsp;&nbsp;<a style="color: blue" onclick="DeleteStep(this)" step_id="{{ templateStep.id }}" class="glyphicon glyphicon-trash"></a></td>
                                    </tr>
                             {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <div class="btn-group">
                            <button class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#" onclick="">
                                <i class="glyphicon glyphicon-plus"></i>
                                增加步骤
                                <span class="caret"></span>
                            </button>
                            <ul class="add_step_choose dropdown-menu">
                                <li value="1"><a>执行脚本</a></li>
                                <li value="2"><a>分发文件</a></li>
                                <li value="3"><a>拉取文件</a></li>
                                <li value="4"><a>文本步骤</a></li>
                            </ul>
                        </div>
                        <button class="btn btn-info" type="submit">
                            <i class="glyphicon glyphicon-floppy-save"></i>
                            保存作业
                        </button>
                        <button class="btn btn-success" data-toggle="modal" data-target="#confirmGlobalSettings" type="button">
                            <i class="glyphicon glyphicon-play"></i>
                            立即启动
                        </button>
                        <button class="btn btn-success" data-toggle="modal" data-target="#set_timing_{{ template.id }}" onclick="show_schedule_new_v2({{ template.id }})">
                            <i class="glyphicon glyphicon-time"></i>
                            定时启动
                        </button>
                        <button class="full-set btn btn-success" type="button" onclick="location.href='{% url 'global_settings' template.id %}'">
                            <i class="glyphicon glyphicon-edit"></i>
                            全程设定
                        </button>
                        <button class="btn btn-warning" onclick="ClearSettings({{ template.id }});">
                            <i class="glyphicon glyphicon-repeat"></i>
                            清空配置
                        </button>
                    </div>
                </div>

                <div class="form-group">
                    <p style="color: green">{{ template_success }}</p>
                    <p style="color: red">{{ template_fail }}</p>
                </div>

            </div>
        </div>
    </div>
        </div>
        <div class="panel-body" >

        </div>

                <!-- Modal -->
        <div class="modal fade" id="confirmGlobalSettings" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">请确认全程设定配置</h4>
              </div>
              <div class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">执行模式：</label>
                        <div class="col-sm-10">
                            <label class="radio">
                                <input type="radio" name="mode" value="slient" {% if template.execute_mode == 'slient' %}checked="checked"{% endif %}> 无人模式 （作业启动后，按步骤顺序执行，出现错误才会停止）
                            </label>
                            <label class="radio">
                                <input type="radio" name="mode" value="single" {% if template.execute_mode == 'single' %}checked="checked"{% endif %}> 单步模式 （作业启动后，每个步骤均需由作业启动人点击“执行”按钮方会执行）
                            </label>
                            <label class="radio">
                                <input type="radio" name="mode" value="mix" {% if template.execute_mode == 'mix' %}checked="checked"{% endif %}> 混合模式 （作业启动后，遇到文本步骤或出现错误才会停止）
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
			                    <label class="col-sm-2 control-label">目标机器：</label>
                                <div class="col-sm-10">
                                    <ul class="list-group">
                                        {% for target in target_machine %}
                                      <li class="list-group-item">{{ target }}</li>
                                        {% endfor %}
                                    </ul>

                                </div>
                    </div>
                          <div class="tab-content">
                  <div class="tab-pane active" id="script_power_list">
                    <div class="ujobs-power-tree">
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button class="btn btn-primary" type="submit" data-loading-text="启动中...">确认执行</button>
              </div>
            </div>
          </div>
        </div>

</form>
</div>
{% endblock %}

{% block bottom-js %}

    <script type="text/javascript">

            // 增加步骤
    $(document).off("click", ".add_step_choose li a").on("click", ".add_step_choose li a", function () {
        var $this = $(this);
        var $parents = $this.parents(".edit-md-wrap");
        var $tbody = $parents.find(".edit_md_table tbody");

        $parents.find(".edit_md_table .dataTables_empty").parent().remove();

        var add_type = $this.text();
        console.log("add_type",add_type)
        var index = $tbody.find('tr').length;
        console.log("index",index)
        var add_type_value = $this.parent('li').attr("value");
        console.log("add_type_value",add_type_value)
        var template_id = $tbody.attr("template_id");
        console.log("template_id",template_id)
        var step_id = ''



        //if (add_type_value = 1){
        //    var refer_url = "{ template.id %}"
        //    $tbody.append("<tr class='checknow' step_id=" + step_id + "><td><input value='" + step_id + "' class='jobview-checked-it-" + template_id + "' type='checkbox' checked></td><td></td><td><a href= " + refer_url + " >" + add_type + " </a>" + "</td>"+"<td>" + add_type + "</td><td><div class='btn-group'><a class='dropdown-toggle' data-toggle='dropdown' href='#'>增加步骤</a><ul class='dropdown-menu add-step-list'><li value='1'><a>执行脚本</a></li><li value='2'><a>分发文件</a></li><li value='3'><a>拉取文件</a></li><li value='4'><a>文本步骤</a></li></ul></div>&nbsp;&nbsp;<a href='javascript:void(0)' class='remove-step' step_id=" + step_id + ">删除</a></td></tr>");
        //}
        //else if (add_type_value = 4) {
        //    var refer_url = ""
        //    $tbody.append("<tr class='checknow' step_id=" + step_id + "><td><input value='" + step_id + "' class='jobview-checked-it-" + template_id + "' type='checkbox' checked></td><td></td><td><a href= " + refer_url +" >" + add_type + " </a>" + "</td>"+"<td>" + add_type + "</td><td><div class='btn-group'><a class='dropdown-toggle' data-toggle='dropdown' href='#'>增加步骤</a><ul class='dropdown-menu add-step-list'><li value='1'><a>执行脚本</a></li><li value='2'><a>分发文件</a></li><li value='3'><a>拉取文件</a></li><li value='4'><a>文本步骤</a></li></ul></div>&nbsp;&nbsp;<a href='javascript:void(0)' class='remove-step' step_id=" + step_id + ">删除</a></td></tr>");
        //}
        $tbody.append("<tr class='checknow' step_id=" + step_id + "><td><input value='" + step_id + "' class='jobview-checked-it-" + template_id + "' type='checkbox' checked></td><td></td><td><a href='javascript:void(0)' onclick='template_step_edit(" + template_id + "," + add_type_value +"," + index + ");'>" + add_type + "</a></td><td>" + add_type + "</td><td><div class='btn-group'><a class='dropdown-toggle' data-toggle='dropdown' href='#'>增加步骤</a><ul class='dropdown-menu add-step-list'><li value='1'><a>执行脚本</a></li><li value='2'><a>分发文件</a></li><li value='3'><a>拉取文件</a></li><li value='4'><a>文本步骤</a></li></ul></div>&nbsp;&nbsp;<a href='javascript:void(0)' class='remove-step' step_id=" + step_id + ">删除</a></td></tr>");
        sort_step($this);
        if ($tbody.find(":checked").length == $tbody.find('tr').length) {
            $parents.find("table thead :checkbox").prop("checked", true);
        }
         else {
            jError('操作失败！');
        }

    });

    //add 2
        $(document).off("click", ".add-step-list li a").on("click", ".add-step-list li a", function () {

        var $this = $(this);
        var $parents = $this.parents(".edit-md-wrap");
        var $tbody = $parents.find(".edit_md_table tbody");

        $parents.find(".edit_md_table .dataTables_empty").parent().remove();

        var add_type = $this.text();
        var index = $this.parents('tr').prevAll().length + 1;
        var add_type_value = $this.parent('li').attr("value");
        var template_id = $tbody.attr("template_id");

        var step_id = '';

        // 简化版
        $this.parents('tr').after("<tr class='checknow' step_id=" + step_id + "><td><input value='" + step_id + "' class='jobview-checked-it-" + template_id + "' type='checkbox' checked></td><td></td><td><a href='javascript:void(0)' onclick='template_step_edit(" + template_id + "," + add_type_value +"," + index + ");'>" + add_type + "</a></td><td>" + add_type + "</td><td><div class='btn-group'><a class='dropdown-toggle' data-toggle='dropdown' href='#'>增加步骤</a><ul class='dropdown-menu add-step-list'><li value='1'><a>执行脚本</a></li><li value='2'><a>分发文件</a></li><li value='3'><a>拉取文件</a></li><li value='4'><a>文本步骤</a></li></ul></div>&nbsp;&nbsp;<a href='javascript:void(0)' class='remove-step' step_id=" + step_id + ">删除</a></td></tr>");
        sort_step($this);


    });



    function sort_step(e) {
    var $parents = e.parents(".edit-md-wrap");

    $parents.find(".edit_md_table tbody tr").each(function () {
        var $index = $(this).index() + 1;

        // 简化版
        $(this).find('td').eq(1).html("第" + $index + "步");
    });
}

    function sort_step2(e, template_id, step_id_list) {
        sort_step(e);

        $.ajax({
            type: 'POST',
            url: '/md_manage/sort/' + template_id + '/',
            data: {
                'step_id_list': step_id_list
            },
            dataType: 'json',
            success: function (data) {
                if (data.status == 200) {
                    jSuccess('操作成功');
                } else {
                    jError('操作失败');
                }
            },
            error: function () {
                jError('操作失败');
            }
        });
    }

    function SaveTemplate(){
        console.log("going to save")
    }

    $('#edit_md_table tr').each(function() {
        var customerId = $(this).find(".run_step").html();
      //  console.log(customerId)
     });

    function SaveStep(){
                var ary = [];

                $('#edit_md_table tr').each(function (a, b) {
                var name = $('.run_step', b).text();
                var value = $('.step_name', b).text();
                ary.push({ Name: name, Value: value });
console.log(JSON.stringify(ary));
            });

    }

    function template_step_edit(template_id,step_type,step_order){

        var data_list = {}
        data_list["csrfmiddlewaretoken"] = $("input[name='csrfmiddlewaretoken']").val()

        data_list["step_type"] = step_type
        data_list["step_order"] = step_order
        data_list["template_id"] = template_id

        $.post("{% url 'template_step_add' %}",data_list,function(callback){

            console.log(callback)

        })


    }

    function template_step_edit_v2(step_id,step_type){

    }

    function DeleteStep(obj){
         var $this = $(obj);

        if (confirm("是否真的要删除该步骤？") == true) {
            var template_step_id = $this.attr("step_id");

            var $parents = $this.parents(".edit-md-wrap");

            var $tbody = $parents.find(".edit_md_table tbody");

            var template_id = $tbody.attr("template_id");

        var data_list = {}
        data_list["step_id"] = template_step_id
        data_list["template_id"] = template_id
        data_list["csrfmiddlewaretoken"] = $("input[name='csrfmiddlewaretoken']").val()

        $.post("{% url 'step_delete' %}",data_list,function(callback){

            console.log(callback)

            if(callback == "OK"){

                $this.parents("tr").remove();
                $parents.find(".edit_md_table tbody tr").each(function() {
                    var $index = $(this).index() + 1;
                    $(this).find('td').eq(1).html("第" + $index + "步");
                });
            }else{
                jNotify("Failed")
            }
        })
        }
    }

    function ClearSettings(template_id){
        if (confirm("将重置全能设定及所有步骤中的局部设定，目标机器，执行模式，确认执行？") == true) {
            var data_list = {}
            data_list["template_id"] = template_id
            data_list["csrfmiddlewaretoken"] = $("input[name='csrfmiddlewaretoken']").val()

            $.post("{% url 'clear_settings' %}",data_list,function(callback){
                console.log(callback)
                //jNotify(callback)
            })
        }

    }

    function submitJob(template_id){
        var data_list = {}
        data_list["template_id"] = template_id
        data_list["csrfmiddlewaretoken"] = $("input[name='csrfmiddlewaretoken']").val()

        $.post("{% url 'submit_Job' %}",data_list,function(){

        })
    }




    </script>

{% endblock %}
