
<script type="text/javascript">
        $(document).ready(function () {
            $("#group-list a[data='group']").click(function(){
                $(this).nextAll().toggleClass("hide")
            })
        })

        var selected_hosts_from_ip = []
        var selected_hosts_count = 0

        function CheckAllToggle(ele) {

            if(ele.checked){
                $(ele).next().next().children().children("input").prop("checked",true)
            }
            else{
                $(ele).next().next().children().children("input").prop("checked",false)
            }
        }

        function SubmitTask(task_type){

                FormVerification(task_type)

        }

        function FormVerification(task_type){
            var err_list = []
            var data_list = {}

            //var textare_iplist = $.trim($("textarea[name='ip_list']").val())
            //if (textare_iplist){
            //    var selected_host = selected_hosts_from_ip
            //}else {
            //    var selected_host = VerifyHostSelection()
            //}
            var selected_host = GetSelectedHost()
            data_list["selected_hosts"] = selected_host
            data_list["task_type"] = task_type
            if(selected_host.length == 0){
                err_list.push(["验证失败","未选择任何主机！"])
            }

            if (task_type == "multi_cmd"){

                var cmd_text = $.trim($("textarea[name='cmd']").val())
                data_list["cmd"] = cmd_text

                if(cmd_text.length == 0){
                    err_list.push(["验证失败","未输入要执行的命令！"])
                }
            }else if (task_type == "multi_file_transfer") {

                //verify upload or download
                var task_action = $("#task_type").val()
                data_list["file_transfer_type"] = task_action
                if (task_action == "file_send"){

                    var remote_path_val = $.trim($("#remote_file_path").val())
                    data_list["remote_path"] = remote_path_val

                    if(remote_path_val.length == 0){
                        err_list.push(["验证失败","未输入远程文件路径！"])
                    }

                    if (upload_files.length == 0){
                        err_list.push(["验证失败","未上传任何文件至中转机！"])
                    }
                    data_list["upload_files"] = upload_files

                }else if(task_action == "file_get"){
                    //data_list["download_files"] = ""
                    var remote_file_val = $.trim($("#remote_file_path2").val())
                    remote_file_list =  remote_file_val.split(" ")
                    //console.log(remote_file_list)
                    data_list["download_files"] = remote_file_list

                    if(remote_file_val.length == 0){
                        err_list.push(["验证失败","未输入远程文件路径！"])
                    }

                    //console.log(data_list)
                }
            }else if (task_type == "multi_script") {
                var script_once_type = $("input[name='script_once_type']:checked").val()
                var script_once_parameter = $("#script_once_parameter").val()
                var script_once_content = editor.getValue()

                console.log("script type--->",script_once_type)
                console.log("script param--->",script_once_parameter)
                console.log("script content--->",script_once_content)
                data_list["script_type"] = script_once_type
                data_list["script_param"]= script_once_parameter
                data_list["script_content"] = script_once_content
            }

            if (err_list.length > 0){
                $("#err-msgs").html(null)
                $.each(err_list,function (index,item) {
                    var err_msg = "<p style='color:red'>" + index + "." + item[1] + "</p>"
                    $("#err-msgs").append(err_msg)
                })
            }else{
                $("#err-msgs").html(null)
                //submit task
                data_list["csrfmiddlewaretoken"] = $("input[name='csrfmiddlewaretoken']").val()
                $.post("{% url 'submit_task' %}",data_list,function(callback){
                    console.log(callback)
                    task_id_obj = JSON.parse(callback)
                    RefreshGetTaskResult(task_id_obj.task_id)

                })
            }
        }

        function GetSelectedHost() {
            var textare_iplist = $.trim($("textarea[name='ip_list']").val())
            if (textare_iplist){
                var selected_host = selected_hosts_from_ip
            }else {
                var selected_host = VerifyHostSelection()
            }
            return selected_host
        }

        function VerifyHostSelection() {
            var selected_hosts = []
            var all_hosts = $("input[data='bind-host']")
            $.each(all_hosts,function(index,ele){
                if(ele.checked){
                    selected_hosts.push($(ele).val())
                }
            })
            return selected_hosts
        }

        function RefreshGetTaskResult(task_id){
            GetTaskResult(task_id)
            GetTaskResultInterval = setInterval(function(){
                GetTaskResult(task_id)
            },3000)
        }

        function GetTaskResult(task_id){
            $.getJSON("{% url 'get_task_result' %}",{task_id:task_id},function(callback){
                console.log(callback)
                PrintOnPage(callback)
            })
        }

        function PrintOnPage(callback) {
            $("#result-box").html(null)
            $.each(callback,function(index,item){

                var row_html = "<p>" + item.bind_host__host__hostname + "(" + item.bind_host__host__ip_addr + ") --->" + item.bind_host__host_user__username + "----" + item.date + "----" + item.result + "</p>" +
                        "<pre>" + item.event_log + "</pre>";

                $("#result-box").append(row_html)
            })
        }

        function FilterHost() {
            var cmd_text = $.trim($("textarea[name='ip_list']").val())
            var ip_list = cmd_text.split("\n")
            var data_list = {}
            data_list["task_type"] = "check_iplist"
            data_list["selected_ips"] = ip_list
            data_list["csrfmiddlewaretoken"] = $("input[name='csrfmiddlewaretoken']").val()

            $.ajax({
               type: "POST",
               url: "{% url 'submit_ips' %}",
               async: false,
               data: data_list,
               success: function(callback) {
                   checked_ip_hostid = JSON.parse(callback)
                   //var j = 0
                   $.each(checked_ip_hostid,function(index,item){
                        selected_hosts_from_ip.push((item[0]["id"]).toString())
                        selected_hosts_count = selected_hosts_count +1
                       // console.log("filter_host_value")
                        var row_html = "<li class='list-group-item'>" + "<span class='badge' onclick='RemoveIP(this)' style='background-color: red'>Deleted</span>" + index + "<input style='display:none' id='manual-ip-get' type='text' value='" + item[0]["id"] + "'>" + "</li>"

                        $("#checked_ip_host").append(row_html)
                    })

                   var select_host_array = $.map(checked_ip_hostid, function(value, index) {
                        return [(value[0]["id"]).toString()];
                    });

                   ap_html = "总共" + ip_list.length + "台机器," + "<span id='count-available-host'>" + selected_hosts_count + "</span>" + "台可用"
                   $("#available_present").toggle()
                    $("#available_present").html(ap_html)

               }
            });

        }

        function RemoveIP(ele) {

            var removed_host_id = $(ele).parent().children("input").val()
            var index = selected_hosts_from_ip.indexOf(removed_host_id)
            selected_hosts_from_ip.splice(index,1)
            selected_hosts_count = selected_hosts_count - 1
            $("#count-available-host").html(selected_hosts_count)
            $(ele).parent().remove()

        }


    </script>
