{% extends 'base.html' %}


{% block page-content-title %}
行为审计
{% endblock %}

{% block page-nav-tab %}
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">行为审计</li>
</ol>
{% endblock %}


{% block page-content %}
<div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">审计列表</h3>
            {{ table_obj.admin_class.list_display }}
        </div>
        <div class="panel-body" >
           {% include 'assets/model_list_filter_component.html' %}

           {% include 'assets/model_obj_list_components.html' %}

        </div>
</div>


{% endblock %}